aiohttp
aiosignal
async-timeout
certifi
click-plugins
Fiona
frozenlist
ipython-genutils
jsonpickle
multidict
munkres
openai
patsy
pyvis
scipy
seaborn
statsmodels
tqdm
yarl
fastapi
uvicorn
requests
sqlalchemy
pydantic
